<div class="row gap-20">
    <div class="ta-c c-grey-900 mt-10 mb-30 w-100">
        <h3>Some precautions</h3>
    </div>
    <!-- <div class="row"> -->
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="bgc-white p-10 bd">
                <div class="mT-10 ta-c">
                   <h6>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>  
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="bgc-white p-10 bd">
                <div class="mT-10 ta-c">
                   <h6>Maintain a safe distance from anyone who is coughing or sneezing.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>  
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="bgc-white p-10 bd">
                <div class="mT-10 ta-c">
                   <h6>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>  
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="bgc-white p-10 bd">
                <div class="mT-10 ta-c">
                   <h6>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>  
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="bgc-white p-10 bd">
                <div class="mT-10 ta-c">
                   <h6>Stay home if you feel unwell.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>  
</div>